@charset "ISO-8859-1";

#success {
	color: #26c93c;
	font-weight: bold;
}

#danger {
	color: #de1414;
	font-weight: bold;
}

table {
	border: 2px solid #fff;
	width: 80%;
	height: 50%;
	margin: 5% auto;
}


input {
	width: 100%;
	padding: 5px;
	border: 1px solid #000;
}

.background-img {
	filter: blur(2px);
	background-position: center;
	background-repeat: no-repeat;
	background-size: fit;
}

.bg-text {
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
	color: white;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}